<section class="all">
    <section class="first-section">
    
        <div class="blue" data-aos="fade-left"  ></div>
        
    
    
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="ovale"><h1>new</h1></div>
                <img src="assets/images/img-1.png" class=" img-1 d-block " alt="...">
                <div class="first-text m-md-2" >
                
                    <h1>First slide label</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, nisi!?</p>
                    <button class="buttoncarousel btn btn-light px-3" routerLink="shope">shope now</button>
                 
                  </div>
              </div>
              <div class="carousel-item">
                <div class="ovale"><h1>new</h1></div>
                <img  src="assets/images/img-1.png"  class="img-1 d-block " alt="...">
                <div class="first-text  m-md-2" >
                    <h1 >Second slide label</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, nisi!.</p>
                    <button class="buttoncarousel btn btn-light px-3" routerLink="shope">shope now</button>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="ovale" ><h1>new</h1></div>
                <img  src="assets/images/img-1.png"  class=" img-1 d-block" alt="...">
                <div class="first-text  m-md-2" >
                    <h1>Third slide label</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, nisi!</p>
                    <button class="buttoncarousel btn btn-light px-3" routerLink="shope" >shope now</button>
                  </div>
              </div>
            </div>
          </div>
    </section>
    </section>
    
    <!-- second section -->
    <section class="container second-section mt-4">
    <div class="row mt-4">
    <div class="col-12 text-center  textsectiontwo">
      <h1>Our cycle</h1>
      <p> It is a long established fact that a reader will be distracted by the</p>
    </div>
    </div>
    <div class="row mt-5 align-items-center">
      <div  class="col-md-6 imgofproduct "  >
        <div class="coloronback"></div>
        <img data-aos="fade-up-right" src="assets/images/img-2.png"   alt="...">
      </div>
      <div class="col-md-6 textofproduct">
        <h1>Cycles</h1>
        <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
      <button class="buttoncarousel btn btn-light px-3" routerLink="shope">shope now</button></div>
    </div>
    
    <!--  -->
    <div class="row mt-5 pt-5 align-items-center">
      <div class="col-md-6 textofproduct ">
        <h1>Stylis Cycle</h1>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
    
      </p>
      <button class="buttoncarousel btn btn-light px-3" routerLink="shope">shope now</button></div>
      <div class="col-md-6 imgofproduct">
        <div class="coloronback2  "></div>
        <img  data-aos="fade-up-right" src="assets/images/img-3.png" class="imgkidscycle"  alt="...">
      </div>
    
      <!--  -->
      <div class="row mt-5 pt-5 align-items-center">
        <div class="col-md-6 imgofproduct">
          <div class=" coloronback2"></div>
          <img src="assets/images/img-4.png" data-aos="fade-up-right" class="imgkidscycle"   alt="...">
        </div>
        <div class="col-md-6 textofproduct">
          <h1>Cycles</h1>
          <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
        </p>
        <button class="buttoncarousel btn btn-light px-3" >shope now</button></div>
      </div>
    </div>
    </section>
    
    
    <section class="mt-5 pt-5">
    
      <div class="filter text-center">
        <img src="assets/images/about-bg.png"  alt="">
        <div><h1>About Our cycle Store</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
       
    
        <img  class="card m-2"  data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="4000" src="assets/images/img-5.png" class="filterimg mt-5 pt-5" alt="">
      </div>
      </div>
    </section>
    
    <!-- Says Customers-->
    <section class="container  mt-5 pt-5">
    
      
      <div class="row  g-0">
        <div class="sayscustomerstext mt-5 pt-5">
          
          <h1>Says Customers</h1></div>
     <div data-aos="fade-up"
     data-aos-anchor-placement="center-center" class="divcustomer" >
    <div class="col-md-4"><img src="assets/images/client-img.png"  alt=""></div>
    <div class="col-md-4">
      <img src="assets/images/quote-icon.png" class="w-40" alt=""><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    <h2 class="mt-2">Channery</h2></div>
    </div>
    
    </div>
    
    
    
    </section>
    
    <!--  -->
    <section>
      
    <div class="container-fluid colorcontainer mt-5 pt-5"><div class="row align-items-center justify-content-center">
      <div class="text-center  text-white m-5 p-5"><h1>News</h1>
        <p class="">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using</p></div>
    
      <div class="col-md-4"><div class="card m-2" class="card m-2"  data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000" >
      <img src="assets/images/img-6.png" class="card-img-top" alt="...">
      <div class="card-body " >
        <h5 class="card-title">Speed cycle</h5>
        <p class="card-text " >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using</p>
      
      </div>
    </div></div>
    <div class="col-md-4"><div class="card m-2"  class="card m-2"  data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="2000">
      <img src="assets/images/img-7.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Speed cycle</h5>
        <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using</p>
       
      </div>
    </div></div>
    <div class="col-md-4" ><div   class="card m-2"  data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="3000" >
      <img  src="assets/images/img-8.png" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">Jaump cycle</h5>
        <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using</p>
      
      </div>
    </div></div>
    
    
    </div></div>
    
    </section>
 

    