
   .btn:focus, .btn:active {
     outline: none !important;
     box-shadow: none !important;
     border: 1px solid #f7c17b ;
   }
   .borderactive{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }
   
   
   /*  */
   .card{
    height: 400px;
  
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    border: unset;
   }
   .card:hover{
    box-shadow: unset;

   }
   .card > img{
    height: 350px;
   }
   .btext{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    overflow-x: unset;

   }
   .btext > p{
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
   }
   .btext > h5{
    font-family: 'Playfair Display', serif;
    color: #474747;
   }
.shope{
  overflow-x: unset;
  box-sizing: border-box;
  border: transparent;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color:#f7c17b;
  cursor: pointer;
  outline: none;
  height: 50px;
 
}